.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.
/captures
.idea/
BuildItBigger.iml
backend/build/*
app/app.iml
backend/backend.iml
jokeshower/jokeshower.iml
jokessource/jokessource.iml